@import "variable";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 30px 0px 30px;
}
.header__logo {
  font-weight: bold;
  font-size: 36px;
  color: $color_text;
  cursor: default;
}

.header__buttons {
  display: flex;
  align-items: center;
  justify-content: center;

  .buttons__element {
    cursor: pointer;

    .element__acc {
      display: none;

      &._active {
        display: block;
      }
    }

    &:first-child {
      margin-right: 30px;
      transform: scale(1.6);
    }
  }

  .element__color {
    transition: all 0.5s;
  }
  & > div:hover .element__color {
    fill: $color_hover_image;
  }
}
@media (max-width: 769px) {
  .header__body {
    padding: 30px 10px;
  }
}

@media (max-width: 426px) {
  .header__logo {
    font-size: 30px;
  }
  .header__buttons {
    img:first-child {
      margin-right: 20px;
    }
  }
}
